.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
}
.bg-white {
  background: $bg-color-default;
}
.margin-top-15 {
  margin-top: 1.5rem;
}
.inline-block {
  display: inline-block;
}
